.Cockpit {
  text-align: center;
}  

.red {
  color: red;
}

.bold {
  font-weight: bold;
}

.Cockpit button {
  color: white;
  background-color: green;
  font: inherit;
  border: 1px solid blue;
  padding: 8px;
  border-radius: 5px;
  cursor: pointer;  
}

.Cockpit button:hover {
  background-color: lightgreen;
  color: black;
}

.Cockpit button.altStyle{
  background-color: darkred;  
}

.Cockpit button.altStyle:hover{
  background-color: salmon;  
}

.Cockpit button.Red {
  background-color:darkred;
}

.Cockpit button.Red:hover {
  background-color:salmon;
}